<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>18070006026</title>
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/search.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/" class="navbar-logo">
                <img src="/img/logo.svg" alt="IMDb Logo">
            </a>
        </div>
        <div class="navbar-middle">
            <div class="navbar-menu">
                <button class="menu-button">All</button>
                <div class="dropdown">
                    <a href="#" data-type="all">All</a>
                    <a href="#" data-type="genre">Genre</a>
                    <a href="#" data-type="actor">Actor</a>
                    <a href="#" data-type="director">Director</a>
                </div>
            </div>
            <input type="text" id="search-input" class="navbar-search" placeholder="Search IMDb">
            <button  class="navbar-search-button" id="search-button">Search</button>
        </div>
        <div class="navbar-right">
            <button class="navbar-pro">
              <img src="/img/IMDbPro.png" alt="IMDbPro Logo">
            </button>
            <% if (!user) { %>
              <a href="/login"><button class="navbar-signin">Sign In</button></a>
            <% } else { %>
              <a href="/watchlist"><button class="navbar-watchlist">Watchlist</button></a>
              <form action="/logout" method="POST">
                <button type="submit" class="navbar-signin">Sign Out (<%= user.username %>)</button>
              </form>
            <% } %>
        </div>
        <div id="search-results"></div>
    </nav>