body {
  background-color: #111;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px;
  color: #fff;
  flex-wrap: wrap;
}

.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  align-items: center;

}

.navbar-logo img {
  margin: 0px 10px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.navbar-menu .menu-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.navbar-middle .menu-button {
  margin-right: 10px;
}

.navbar-middle .dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  top: 40px;
  width: 200px;
  z-index: 20;
}

.navbar-middle .dropdown a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}

.navbar-middle .dropdown a:hover {
  background-color: #444;
}

.navbar-search {
  padding: 5px;
  width: 200px;
}

.navbar-search-button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.navbar-pro,
.navbar-watchlist,
.navbar-signin {
  background: none;
  border: none;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-pro img {
  height: 30px;
}

.navbar-right .navbar-language {
  margin: 0 10px;
  padding: 5px;
  color: #fff;
  background: none;
  border: 1px solid #111;
  cursor: pointer;
}

.navbar-language option {
  background-color: #111;
}

#search-results {
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

#search-results a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-bottom: 1px solid #444444;
}

#search-results a:hover {
  background-color: #444444;
}

#search-results img {
  width: 50px;
  height: 75px;
  margin-right: 10px;
  border-radius: 3px;
}

#search-results .movie-info {
  display: flex;
  flex-direction: column;
}

#search-results .movie-info .title {
  font-weight: bold;
  font-size: 16px;
}

#search-results .movie-info .details {
  font-size: 14px;
  color: #bbbbbb;
}

.top-10-section {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.top-10-section h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;
  border-left: 5px solid #ffc107;
  padding-left: 10px;
}

.owl-carousel .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.owl-carousel .item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.top-10-item {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-10-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  margin: 10%;
}

.rating {
  color: #ffc107;
  font-size: 12px;
  margin-top: 5px;
}

.title {
  color: #fff;
  display: block;
  font-size: 14px;
  margin-bottom: 1px;
  overflow: hidden;
  /* taşanları gizle */
  white-space: nowrap;
  /* alt satıra hiç inme */
  text-overflow: ellipsis;
  /* eğer uzunsa üç nokta koy */
}

.buttons {
  margin-top: 10px;
  display:block;
  justify-content: space-between;
}

.watchlist-btn,
.trailer-btn {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  width: 59%;
  font-size: 14px;
}


/*MOIVE-Details CSS*/

.movie-detail {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.movie-header {
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap */
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.movie-header img {
  max-width: 400px;
  margin-right: 20px;
}

.movie-header .info {
  max-width: 600px;
  flex: 1;
  /* Allow info to take remaining space */
}

.movie-header .info h1 {
  margin: 0;
  font-size: 2em;
  color: #fff;
}

.movie-header .info p {
  margin: 5px 0;
  color: #fff;
}

.movie-header .info .rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}

.movie-header .info .rating span {
  margin-right: 10px;
}

.movie-header .info .buttons {
  margin-top: 20px;
}

.movie-header .info .buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 375px) {
  .navbar-middle {
    flex-direction: row;
  }

  .navbar-search {
    width: 75%;
  }

  .navbar-left,
  .navbar-right {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-right {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .navbar {
    justify-content: center;
  }

  .navbar-logo img {
    height: 20px;
    margin: 2px;
  }

  .navbar-pro img {
    height: 20px;
  }

  .top-10-grid {
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  .watchlist-btn,
  .trailer-btn {
    width: 50%;
  }

  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .slider-button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    cursor: pointer;
  }

  .movie-detail {
    width: 100%;
  }

  .movie-header .info h1 {
    font-size: 1.25em;
  }

  .movie-header .info .buttons button {
    padding: 6px 12px;
    margin: 5px 0;
    /* Stack buttons vertically */
  }

}

@media (max-width: 768px) {
  .navbar-middle {
    flex-direction: row;
  }

  .navbar-search {
    width: 75%;
  }

  .navbar-left,
  .navbar-right {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-right {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .navbar {
    justify-content: center;
  }

  .navbar-logo img {
    height: 20px;
    margin: 2px;
  }

  .navbar-pro img {
    height: 20px;
  }

  .top-10-grid {
    flex-direction: column;
    align-items: center;
    height: 200px;
  }

  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-button {
    background-color: #f0c14b;
    border: 1px solid #a88734;

    cursor: pointer;
  }

  .movie-header .info h1 {
    font-size: 1.5em;
  }

  .movie-header .info .buttons button {
    padding: 8px 16px;
  }

}

@media (max-width: 1024px) {
  .movie-detail {
    width: 95%;
  }

  .movie-header {
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items */
    text-align: center;
    /* Center text */
  }

  .movie-header img {
    margin-right: 0;
  }

  .movie-header .info {
    max-width: 100%;
  }

  .movie-header .info h1 {
    font-size: 1.75em;
  }
}